/////////////////////////////////////////////////////////
/////     STRUCTURE GENERALE
/////////////////////////////////////////////////////////

#normal-body {
  padding: 25px 10px;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

#corps {
  flex: 1 1 auto;
  padding: 35px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .home-access-button{
    height: 75%;
    width: 20px;
  }
  .home-team-button{
    background-color: rgba(91, 192, 222, 0.85);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    color: white;
    font-weight: 300;
    font-size: 15px;
    &:hover{
      transform: scale(0.99);
      filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
      background-color: rgba(91, 192, 222, 0.7);
      cursor: pointer;
    }
  }
  // .home-recherche-button{
  //   background-color: rgba(195, 60, 84, 0.85);
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 5px;
  //   filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
  //   display: flex;
  //   flex-flow: column;
  //   justify-content: space-around;
  //   align-items: center;
  //   padding: 25px 0;
  //   color: white;
  //   font-weight: 300;
  //   font-size: 15px;
    // &:hover{
    //   transform: scale(0.99);
    //   filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
    //   background-color: rgba(195, 60, 84, 0.7);
    //   cursor: pointer;
    // }
  // }
  // .home-bottomaccess-button{
  //   height: 20px;
  //   width: 75%;
  // }
  // .home-communication-button{
  //   background-color: rgba(121, 88, 159, 0.7);
  //   height: 100%;
  //   width: 100%;
  //   border-radius: 5px;
  //   filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  //   padding: 0 25px;
  //   color: white;
  //   font-weight: 300;
  //   font-size: 15px;
  //   &:hover{
  //     transform: scale(0.99);
  //     filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
  //     background-color: rgba(121, 88, 159, 0.5);
  //     cursor: pointer;
  //   }
  // }
  >.row{
    height: 100%;
    width: 95%;
    // flex: 1 1 auto;
  }
  .row > .col-6 {
    height: 100%;
    padding: 0px 15px;
  }
}

#profile-pousse-homepage {
  height: 100%;
}

/////////////////////////////////////////////////////////
/////     MAP
/////////////////////////////////////////////////////////

#map {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width:100%;
  height: 67%;
}

.company_marker {
  opacity: 0.75;
  // &:hover{
  //   opacity: 1;
  //   filter: drop-shadow(-3px 5px 2px rgba(0, 0, 0, 0.3));
  // }
}

////////////////////////////////////////////////////////
/////     LISTE ENTREPRISES LOCALES
////////////////////////////////////////////////////////

#liste_pousses_locales {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
}

.liste_entreprises_autour{
  flex-flow: column;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.company_home_item{
  display: flex;
  align-items: center;
  color: black;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  .company_home_item_icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

/////////////////////////////////////////////////////////
/////     PROFIL ENTREPRISE
/////////////////////////////////////////////////////////

#profile-pousse-homepage-partial {
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-flow: column;
}

#cover-company-profil-image {
  width: 100%;
  // flex: 1 1 auto;
  height: 180px;
  object-fit: cover;
}

.home-add-team{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-company-team{
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  font-weight: 300;
  font-size: 25px;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.1));
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.05);
  &:hover{
    transform: scale(0.97);
    box-shadow: -0px 0px 0px rgba(0, 0, 0, 0.05);
    background-color: rgba(91, 192, 222, .85);
  }
  &:active{
    transform: scale(0.95);
    filter: drop-shadow(-0px 0px 0px rgba(0, 0, 0, 0.1));
    background-color: rgba(91, 192, 222, 1);
  }
}
.remove-company-team{
  width: 30px;
  height: 30px;
  background-color: rgba(91, 192, 222, .85);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  font-weight: 300;
  font-size: 25px;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.1));
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.05);
  &:hover{
    transform: scale(0.97);
    box-shadow: -0px 0px 0px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.2);
  }
  &:active{
    transform: scale(0.95);
    filter: drop-shadow(-0px 0px 0px rgba(0, 0, 0, 0.1));
    background-color: rgba(0, 0, 0, 0.25);
  }
}
#company-profil-header {
  background: white;
  height: 47px;
  padding: 7px 15px 5px 15px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  box-shadow: 0px -1px 5px rgba(0,0,0,0.1);
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  #company-profil-id{
    margin-left: 12px;
  }
  position: relative;
  #company-category-icon {
    position: absolute;
    right: 25px;
    top: -25px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    .company-category-icon-image{
      width: 40px;
    }
  }
}

#company-profil-information-container {
  // flex: 1 1 auto;
  // font-weight: 300;
  // // padding: 15px;
  // display: flex;
  // flex-flow: column;
  // justify-content: space-between;
}

#information-container-row{
  margin: 0;
  height: 69px;
  font-weight: 300;
  .presentation-profil-entreprise {
    padding: 0 0 0 7px;
    font-size: 12px;
    display: flex;
    align-items: center;
    p{ margin: 0; }
    overflow: scroll;
  }
  .preuve-sociale-pousse {
    padding: 5px 0 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    p {
      margin: 0px;
      font-size: 10px;
    }
  }
}



.bouton-je-connais{
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.1));
  border-style: none;
  font-weight: 300;
  &:hover{
    background-color: rgba(104, 210, 169, .7);
    filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: white;
  }
  &:active{
    transform: scale(0.97);
    filter: drop-shadow(-0px 0px 0px rgba(0, 0, 0, 0.1));
    background-color: rgba(104, 210, 169, 1);
  }
}

.bouton-je-ne-connais{
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  background-color: rgba(104, 210, 169, 0.85);
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.1));
  border-style: none;
  font-weight: 300;
  &:hover{
    background-color: rgba(0, 0, 0, 0.05);
    filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: white;
  }
  &:active{
    transform: scale(0.97);
    filter: drop-shadow(-0px 0px 0px rgba(0, 0, 0, 0.1));
    background-color: rgba(0, 0, 0, 0.25);
  }
}


.home-company-publication{
  flex: 1 1 auto;
  // height: 39vh;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.home-company-publications {
  height: 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  // padding: 0 20px;
  overflow: scroll;
}

.last-company-profil-row{
  width: 100%;
  margin: 0;
}
.publication-profil-input{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.create-publication{
  width: 100%;
  margin: 5px 0 10px 0;
  input{
    border-radius: 5px;
    opacity: 0.7;
    font-size: 15px;
    margin: 0;
  }
  .form-group{
    margin: 0px;
  }
  .major-publication-input{
    font-size: 12px;
    padding-left: 0;
    font-weight: 300;
    opacity: .7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    input{
      position: absolute;
      top: -6px;
      right: 15px;
    }
    p{
      margin: 0;
      width: 100%;
    }
  }
}

