

<div class="home-add-team">
  <% if @team_membership %>
    <%= link_to team_membership_path(@team_membership), remote: true, method: :delete do %>
      <div class="remove-company-team">-</div>
    <% end %>
  <% else %>
    <%= link_to company_team_memberships_path(@company), remote: true, method: :post do %>
      <div class="add-company-team">+</div>
    <% end %>
  <% end %>
</div>
