#positionnement-logo {
  margin: 0 auto;
  position: relative;
  .logo-aureole{
    position: absolute;
    top: -15px; //-50px
    right: -50px; //-50px
    z-index: 2;
    background-color: white;
    padding: 20px 28px 18px 21px;
    border-radius: 50%;
    img {
      filter: drop-shadow(-3px 5px 3px rgba(0, 0, 0, 0.3));
    }
    &:hover img{
      opacity: 0.9;
      filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.7));
    }
  }
}


#lafrenchpousse-navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  background-color: white;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.02));
  .flexalign {
    display: flex;
    align-items: center;
  }
  .lfp-navbar-element{
    &:hover h6 {
      color: rgba(0, 0, 0, 0.7);
      // opacity: 0.5;
    }
  }
}

#espace-pousses {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  h6 {
    margin-bottom: 0;
    margin-right: 25px;
    color: rgba(0, 0, 0, 0.5);
  }
  a {
    &:hover {
      cursor: pointer;
    }
  }
  #mes-pousses {
    @media(max-width: 630px) {
      h6 {
        display: none;
      }
      img{
        display: block;
      }
    }
  }
  #creation-pousse #with-one-pousse{
    img {
      display: none;
    }
    h6{
      display: block;
    }
    @media(max-width: 768px) {
      h6 {
        display: none;
      }
      img{
        display: block;
      }
    }
  }
}

#lafrenchpousse-logo {
}

#espace-citoyen {
  display: flex;
  align-items: center;
  #repositionnement {
    .search-form-control {
      position: relative;
    }
    .search-form-control .btn {
      position: absolute;
      top: 8px;
      bottom: 8px;
      right: 8px;
    }
    .search-form-control .form-control {
      height: 3.5rem;
      box-shadow: 0 2px 6px rgba(0,0,0,0.08);
      border: 1px solid #E7E7E7;
    }
    .search-form-control .form-control:focus {
      border: 1px solid #1EDD88;
      outline: none !important;
      box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    }
    .btn-flat {
      color: white;
      padding: 8px 24px;
      border-radius: 4px;
      background: #1EDD88;
      transition: background 0.3s ease;
    }
    .btn-flat:hover {
      background: #1BCB7F;
      color: white;
    }
  }
  #profil-citoyen {
    padding: 2px 0px;
    img {
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
      border: 1px solid white;
    }
    &:hover img{
      opacity: 0.9;
    }
    .profil-image-box {
      margin: 8px 0px;
    }

    .avatar-photo-profil {
      border-radius: 50%;
    }
    .dropdown-menu {
      z-index: 2;
      border-radius: 0 0 5px 5px;
      filter: drop-shadow(-2px 3px 1px rgba(0, 0, 0, 0.1));
      border-style: none;
    }
    .dropdown-item{
      &:hover{
        cursor: pointer;
      }
      &:active{
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.modal-content{
  border-radius: 5px;
}
.modal-footer{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  form{
    .form-group{
      margin:0;
      width: 60%;
    }
    #category_name{
      border-radius: 5px;
    }
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #bouton-proposition-categorie{
    color: white;
    background-color: rgba(48, 86, 122, 0.7);
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
    font-weight: 300;
    &:hover{
      color: white;
      background-color: rgba(48, 86, 122, 1);
      filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.1));
      transform: scale(0.97);
    }
    &:active{
      background-color: rgba(48, 86, 122, 1);
      transform: scale(0.9);
      filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
      box-shadow: none;
    }
    // &.active{
    //   background-color: rgba(48, 86, 122, 0.7);
    //   transform: scale(1);
    //   filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.1));
    //   box-shadow: none;
    // }
    #proposition-sent{
      margin:0;
    }
  }
}
