#team-title{
  margin: 25px 0 5px 0;
  display: flex;
  justify-content: space-around;
  h5{
    background-color: rgba(91, 192, 222, .7);
    color: white;
    border-radius: 5px;
    padding: 10px 5px 10px 0;
    margin: 0;
    width: 50%;
    text-align: center;
  }
}

.team-pousses{
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.team-pousse-partial {
  height: 250px;
  flex: 0 0 32%;
  width: 32%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-flow: column;
  border-radius: 5px;
}

.cover-title-pousse {
  width: 100%;
  height: 35%;
  border-radius: 5px 5px 0 0;
}
.pousse-cover-overlay{
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
  p{
    font-size: 10px;
    font-weight: 300;
  }
}

.pousse-presentation{
  height: 10%;
  padding: 0px 15px;
  font-weight: 300;
  font-size: 10px;
  overflow: scroll;
  p{
    margin: 0;
  }
}

.pousse-publication{
  height: 65%;
  width: 100%;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
  position: relative;

}
.pousse-publications{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  // overflow: scroll;
  .major-publication{
    font-size: 12px;
    margin-bottom: 5px;
    .major-publication-content{
      padding: 1px 0;
    }
  }
  .publication{
    font-size: 10px;
    margin-bottom: 5px;
    .publication-content{
      p{ max-width: 60% }
    }
  }
  // position: relative;
}
.pousse-create-publication{
  opacity: 0.85;
  margin: auto;
  position: sticky;
  bottom: 0px;
  width: 50%;
  .form-group{
    margin: 0;
  }
  input{
    border-radius: 5px 5px 0 0;
    opacity: 0.85;
    font-size: 10px;
    margin-bottom: 0;
  }
}
