<div id="team-title">
  <h5>Vous avez <%= @team_companies.count %> pousses dans votre équipe !</h5>
</div>

<div class="team-pousses">
  <% @team_companies.each do |company| %>
    <%= render(partial: "companies/team_company_card.html.erb", locals: {company: company}) %>
  <% end %>
</div>





